@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
html {
  font-family: 'Vazirmatn', sans-serif;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
}

.leaflet-container,
.leaflet-pane {
  z-index: 0 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 10 !important;
}